.packWrapper{
    height: 90vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.carousel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25vw;
    flex-wrap: wrap;
}
.packTitle{
    color: #292929;
    font-weight: 700;
    font-size: 2rem;
}
.arrows{
    background-color: #eeeeee;
    padding: .66rem;
    border-radius: 99px;
    text-align: center;
    margin-inline: .5rem;
}
.arrows:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.arrows img{
    height: 25px;
}
.arwsWrap{
    display: flex;
}
.cardCont{
    
}