#here{
    background: linear-gradient(0deg,rgba(255, 22, 189, 0.3),rgba(16, 155, 255, 0.5));
    width: 100%;
}
.supersale-banner-title{
    font-size: 24px;
    font-weight: 700;
    color: #f9f9f9;
}
.supersale-wrap{
    display: flex;
    height: 33vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}